* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

#root {
  width: 100%;
  min-height: calc(100vh - 210px);
  padding-bottom: 210px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

/* header */

.header-main {
  max-width: 1280px;
  width: 100%;
  color: #FF6060;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.header-main-container {
  width: 100%;
  margin: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  display: flex;
  list-style-type: none;
}

.header-links li {
  font-size: 1.5em;
  margin-left: 50px;
}

/* footer */

.footer-main {
  width: 100%;
  height: 210px;
  display: flex;
  position: absolute;
  bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.div-logo-footer {
  margin-bottom: 30px;
}

/* toutes les pages */

.page {
  max-width: 1280px;
  width: 100%;
}

.page-container {
  margin: 0 20px;
}

/* Page home */

.page-home {
  margin-top: 60px;
}

.banner-home {
  height: 223px;
  padding: 0 16px;
  border-radius: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../images/BannerHome.png");
  background-position: right 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-home h1 {
  font-size: 3em;
  font-weight: normal;
  color: white;
}

.vignette {
  max-width: 340px;
  width: 100%;
  height: 340px;
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: #FF6060;
  font-size: 1em;
  font-weight: normal;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.vignette::after {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  position: absolute;
  top: 0px;
}

.vignette h2 {
  width: 40%;
  font-size: 1.12em;
  font-weight: normal;
  color: white;
  margin: 20px 20px;
  z-index: 50;
}

.liste-vignette {
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 56px 50px 0 50px;
  margin: 43px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

/* page a propos */

.banner-apropos {
  height: 223px;
  border-radius: 25px;
  margin: 45px 0 30px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)) , url("../images/BannerApropos.png");
  background-position: right 0;
  background-size: cover;
}

.dropdown {
  max-width: 1023px;
  min-height: 47px;
}

/* page erreur */

.page-erreur-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF6060;
  margin-bottom: 20px;
}

.page-erreur-container h1 {
  font-size: 18em;
  font-weight: 700;
  margin: 100px 0 30px 0;
}

.message-erreur {
  font-size: 2.25em;
  font-weight: 500;
  margin-bottom: 100px;
  text-align: center;
}

/* responsive */

@media screen and (max-width: 600px) {

  /* header */

  .header-main-container img {
    width: 145px;
  }

  .header-links li {
    font-size: 0.9em;
    margin-left: 10px;
  }

  /* footer */

  .footer-main {
    font-size: 0.8em;
  }

  /* page home */

  .page-home {
    margin-top: 16px;
   }

   .banner-home {
    height: 111px;
    border-radius: 10px;
  }

  .banner-home h1 {
    font-size: 1.5em;
  }

  /* page a propos */

  .banner-apropos {
    border-radius: 10px;
    margin: 17px 0 19px 0;
  }

  /* page erreur */

  .page-erreur-container h1 {
    font-size: 6em;
    font-weight: 700;
    margin: 150px 0 30px 0;
  }
  
  .message-erreur {
    font-size: 1.12em;
    margin-bottom: 100px;
  }

}

@media screen and (max-width: 845px) {

  /* page home */

  .vignette {
    height: 255px;
    margin-bottom: 20px;
  }

  .liste-vignette {
    background-color: white;
    padding: 0 0 0 0;
    margin-top: 22px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}
